<h1>お問い合わせ一覧</h1>
<table class="table">
	<thead class="thead thead-light">
		<th>投稿者種別
		<th>投稿者名
		<th>回答状況
		<th>投稿日
		<th>
	</thead>

<% @infos.each do |i| %>
	 <tbody class="tbody table-light">
  	<tr>
			<td><%= i.user_status %>
			<td><%= i.contributor %>
				<%if i.info_status == "回答済み" %>
			<td><a class="alert alert-dark"><%= i.info_status%></a>
				<% else %>
			<td><a class="alert alert-danger"><%= i.info_status%></a>
				<% end %>
			<td><%= i.created_at.strftime("%Y-%m-%d %H:%M") %>
			<td><%= link_to "詳細へ", edit_admins_info_path(i), class: "btn btn-secondary" %>
<% end %>
</tbody>
</table>