<div class="row row1">
	<div class="col-12 text-center text-danger">
		<% if @commodity.errors.any? %>
  		<% @commodity.errors.full_messages.each do |message| %>
    		<h3>・<%= message %></h3>
  		<% end %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-12 col-lg-6 offset-lg-3">

<h1>商品詳細・編集　<%= link_to "商品削除", admins_commodity_path, method: :delete, data: { confirm: "本当に削除しますか？？" }, class: "btn btn-danger" %></h1>


<% if @commodity.company.nil? %>
	<div class="alert alert-danger text-center">
		凍結中アカウント編集不可
	</div>
<% else @commodity.limit > Time.now %>
	<div class="alert alert-danger text-center">
		販売終了商品 編集不可
	</div>
<% end %>

<%= form_for @commodity, url: admins_commodity_path, method: :patch do |f| %>
	<%= f.hidden_field :company_id %>

	<h3 class="mt-3">商品名</h3>
		<%= f.text_field :commodity_name, class: 'form-control-lg text-center w-100' %>

	<h3 class="mt-3">コメント</h3>
		<%= f.text_field :comment, class: 'form-control-lg text-center w-100' %>

	<h3 class="mt-3">商品画像</h3>
		<%= f.attachment_field :commodity_image %>

	<h3 class="mt-3">定価</h3>
		<%= f.text_field :regular_price, class: 'form-control-lg text-center w-100' %>

	<h3 class="mt-3">販売価格</h3>
		<%= f.text_field :sale_price, class: 'form-control-lg text-center w-100' %>

	<h3 class="mt-3">数量</h3>
		<%= f.text_field :quantity, class: 'form-control-lg text-center w-100' %>

	<h3 class="mt-3">何時までに</h3>
		<%= f.datetime_field :limit, class: 'form-control-lg text-center w-100' %>

	<h3 class="mt-3">販売方法</h3>
	<div class="text-center h3">
		<%= f.radio_button :commodity_category, :買いに来て欲しい %>
    <%= f.label :買いに来て欲しい, class: "commodity_category_label" %>
    <%= f.radio_button :commodity_category, :食べに来て欲しい %>
    <%= f.label :食べに来て欲しい, class: "commodity_category_label" %>
</div>
	<% unless @commodity.company.nil? || @commodity.limit < Time.now %>
		<%= f.submit '商品情報更新', class: "btn btn-primary btn-lg mt-3 mb-4" %>
	<% end %>
<% end %>

	</div>
</div>