<div class="row row1">
	<div class="col-12 text-center text-danger">
		<% if @commodity.errors.any? %>
		<% @commodity.errors.full_messages.each do |message| %>
		<h3>・<%= message %></h3>
		<% end %>
		<% end %>
	</div>
</div>

<h1><span class="text-secondary">■</span>商品詳細・編集<%= link_to "商品削除", admins_commodity_path, method: :delete, data: { confirm: "本当に削除しますか？？" }, class: "btn btn-danger  ml-4" %></h1>
<% if @commodity.company.nil? %>
<div class="alert-danger text-center">
	<h3>凍結中アカウント編集不可</h3>
</div>
<% elsif @commodity.limit < Time.now %>
<div class="alert-danger text-center">
	<h3>販売終了商品 編集不可</h3>
</div>
<% end %>

<div class="row">
	<div class="col-12 col-lg-6 offset-lg-3">

		<%= form_for @commodity, url: admins_commodity_path, method: :patch, data: {confirm: "編集を完了してよろしいですか？"} do |f| %>
			<%= f.hidden_field :company_id %>

			<h3 class="mt-3">商品名</h3>
			<%= f.text_field :commodity_name, class: 'form-control-lg text-center w-100' %>

			<h3 class="mt-3">コメント</h3>
			<%= f.text_field :comment, class: 'form-control-lg text-center w-100' %>

			<h3 class="mt-3">商品画像</h3>
			<div class="row">
				<div class="col-4">
					<%= attachment_image_tag @commodity, :commodity_image, :fill, 1000, 1000, size: '120x90', fallback: "no_image.png" %>
				</div>
				<div class="col-8 pt-5">
					<%= f.attachment_field :commodity_image %>
				</div>
			</div>

			<h3 class="mt-3">定価</h3>
			<%= f.text_field :regular_price, class: 'form-control-lg text-center w-100' %>

			<h3 class="mt-3">販売価格</h3>
			<%= f.text_field :sale_price, class: 'form-control-lg text-center w-100' %>

			<h3 class="mt-3">数量</h3>
			<%= f.text_field :quantity, class: 'form-control-lg text-center w-100' %>

			<h3 class="mt-3">何時までに</h3>
			<%= f.datetime_field :limit, class: 'form-control-lg text-center w-100' %>

			<h3 class="mt-3">販売方法</h3>
			<div class="text-center h3">
				<%= f.radio_button :commodity_category, :買いに来て欲しい %>
				<%= f.label :買いに来て欲しい, class: "commodity_category_label" %>
				<%= f.radio_button :commodity_category, :食べに来て欲しい %>
				<%= f.label :食べに来て欲しい, class: "commodity_category_label" %>
				<% unless @commodity.company.nil? || @commodity.limit < Time.now %>
				<%= f.submit '商品情報更新', class: "btn btn-primary btn-lg mt-5 mb-4" %>
				<% end %>

			</div>
		<% end %>

	</div>
</div>