<h1>商品一覧</h1>

<% @commodity.each do |c| %>
  <table class="table">
  	<thead class="thead">
  		<tr class="table-secondary">
  		<th><%= c.created_at.strftime("%Y-%m-%d %H:%M") %>
  		<th><th><th>
  			<%= link_to "商品詳細・編集", edit_admins_commodity_path(c), class: "btn btn-light" %>
  	</thead>
  	<tbody class="tbody">
  		<tr class="table-light">
  			<% if c.limit > Time.now %>
  		<td>期限: <%= c.limit.strftime("%Y-%m-%d %H:%M") %>
  			<% else %>
  		<td>販売終了: (<%= c.limit.strftime("%Y-%m-%d %H:%M") %>)
  			<% end %>
			<td>定価: <%= c.regular_price %>円
			<td>販売価格: <%= c.sale_price %>円
			<td>販売形態: <%= c.commodity_category %>
  		<tr class="table-light">
  		<td>画像: 画像
			<td>企業: <%= c.company.company_name %>
			<td>商品: <%= c.commodity_name %>
			<td>残り: <%= c.quantity %>人

		</tbody>
	</table>
<% end %>