<div class="row">
  <div class="col-6 offset-3 text-center">
    <h3>空白検索で全ての商品</h3>
  </div>
</div>

<div class="row">
  <div class="col-6 offset-3 text-center">
    <%= search_form_for @search, url:admins_commodities_path do |f| %>
      <%= f.search_field :commodity_name_cont, :placeholder => "商品名で曖昧検索", class: "form-control-lg" %>
      <%= f.submit "検索", class: "btn-lg" %>
    <% end %>
  </div>
</div>

<h1>商品一覧</h1>
<% @result.each do |c| %>
  <table class="table">
  	<thead class="thead">
  		<tr class="table-secondary">
  		<th><%= c.created_at.strftime("%Y-%m-%d %H:%M") %>
  		<th><th><th>
  			<%= link_to "商品詳細・編集", edit_admins_commodity_path(c), class: "btn btn-light" %>
  	</thead>
  	<tbody class="tbody">
  		<tr class="table-light">
  			<% if c.limit > Time.now %>
  		<td>期限: <%= c.limit.strftime("%Y-%m-%d %H:%M") %>
  			<% else %>
  		<td>販売終了: (<%= c.limit.strftime("%Y-%m-%d %H:%M") %>)
  			<% end %>
			<td>定価: <%= c.regular_price %>円
			<td>販売価格: <%= c.sale_price %>円
			<td>販売形態: <%= c.commodity_category %>
  		<tr class="table-light">
  		<td><%= attachment_image_tag c, :commodity_image, :fill, 1000, 1000, size: '100x80', fallback: "no_image.png" %>
        <% if c.company.nil? %>
      <td>企業: 凍結中アカウント
        <% else %>
			<td>企業: <%= c.company.company_name.truncate(8) %>
        <% end %>
			<td>商品: <%= c.commodity_name.truncate(8) %>
			<td>残り: <%= c.quantity %>人

		</tbody>
	</table>
<% end %>

<%= paginate @result %>

<div id="back">
  <a href="#">
    <%= image_tag 'up.png', :size =>'60x60', class: "img" %>
  </a>
</div>