<div class="row row1">
  <div class="col-12 text-center text-danger">
    <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |message| %>
        <h3>・<%= message %></h3>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <span class="h1">ユーザーマイページ</span>
    <button type="button" class="btn btn-secondary h4 ml-5 p-3 p-lg-2" data-toggle="modal" data-target="#staticBackdrop">
      登録住所編集
    </button>
  </div>
</div>

<!-- モーダルの設定 -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header bg-secondary">
        <h3 class="modal-title text-light font-weight-bold" id="staticBackdropLabel">編集フォーム</h3>
        <button type="button" class="btn-lg btn-secondary" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="modal-body">
        <%= form_for @user, url: publics_user_path, method: :patch do |f|%>
          <div class="row">
            <div class="col">
              <div class="field">
                <%= f.label :lastname %>
                <%= f.text_field :lastname, class: 'form-control-lg w-100 text-center' %>
              </div>
              <div class="field">
                <%= f.label :lastname_kana %>
                <%= f.text_field :lastname_kana, class: 'form-control-lg w-100 text-center' %>
              </div>
            </div>
            <div class="col">
              <div class="field">
                <%= f.label :firstname %>
                <%= f.text_field :firstname, class: 'form-control-lg w-100 text-center' %>
              </div>
              <div class="field">
                <%= f.label :firstname_kana %>
                <%= f.text_field :firstname_kana, class: 'form-control-lg w-100 text-center' %>
              </div>
            </div>
          </div>
          <div class="field">
            <%= f.label :nickname %>
            <%= f.text_field :nickname, class: 'form-control-lg w-100 text-center' %>
          </div>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control-lg w-100 text-center' %>
          </div>
          <div class="field">
            <%= f.label :postalcode %>（ハイフンなし）
            <%= f.text_field :postalcode, class: 'form-control-lg w-100 text-center' %>
          </div>
          <div class="field">
            <%= f.label :address %>
            <%= f.text_field :address, class: 'form-control-lg w-100 text-center' %>
          </div>
          <div class="field">
            <%= f.label :phone %>（半角で入力）
            <%= f.text_field :phone, class: 'form-control-lg w-100 text-center ' %>
          </div>
          <div class="text-center">
            <%= link_to "退会", publics_user_path, method: :delete, class: "float-right mr-2" %>
            <%= f.submit "編集完了", class: "btn btn-success btn-lg pr-5 pl-5" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
<ul>
  <li><a href="#reserve">予約履歴</a></li>
  <li><a href="#reserve_d">過去の予約</a></li>
  <li><a href="#recipe-like">お気に入りレシピ</a></li>
  <li><a href="#recipe">投稿レシピ</a></li>
</ul>
<h2 class="mt-5"><span class="text-warning">■</span>お得金額の総計</h2>
  <% if @user.profit_price == nil %>
    <h3>&emsp;購入したことがありません</h3>
  <% else %>
    <h3>&emsp;<%= @user.profit_price %> 円</h3>
  <% end %>

<section id="reserve">
<h2 class="mt-5"><span class="text-warning">■</span>予約履歴</h2>
<h3 class="mt-2">販売中</h3>
<% if @reserve.count == 0 %>
  <span class="text-secondary h4">
    &emsp;販売中の予約はありません
  </span>
<% else %>
	<% @reserve.each do |r| %>
    <div class="row">
      <div class="col-2 text-center">
        <%= attachment_image_tag r.commodity, :commodity_image, :fill, 1000, 1000, size: '150x150', fallback: "no_image.png" %>
      </div>
      <div class="col-10">
        <table class="table mb-0 table-bordered">
          <thead class="thead thead-light">
            <tr>
              <th>店名
              <th>住所
              <th>リンク
          </thead>
          <tbody class="tbody table-light">
            <% if r.commodity.company.deleted? %>
            <tr>
              <td>退会した企業
              <td>
              <td>
            <% else %>
              <td><%= r.commodity.company.company_name %>
              <td><%= r.commodity.company.address %>
              <td><%= link_to '地図アプリで開く', "https://www.google.com/maps/search/?api=1&query=#{r.commodity.company.address}".html_safe, class: 'button' %>
            <% end %>
          </tdody>
        </table>
        <table class="table table-bordered">
          <thead class="thead thead-light">
            <tr>
              <th>商品名
              <th>販売形態
              <th>時間
            </thead>
            <tbody class="tbody table-light">
              <tr>
			          <td><%= r.commodity.commodity_name %>
			          <td><%= r.commodity.commodity_category %>
			          <td><%= r.commodity.limit.strftime("%m月%d日 %H:%M まで") %>
            </tdody>
          </table>
      </div>
    </div>
  <% end %>
<% end %>
</section>

<section id="reserve_d">
<h3 class="mt-2">販売終了</h3>
<% if @reserve_d.count == 0 %>
  <span class="text-secondary h4">
    &emsp;予約履歴はありません
  </span>
<% else %>
  <% @reserve_d.each do |r| %>
    <div class="row">
      <div class="col-2 text-center">
        <%= attachment_image_tag r.commodity, :commodity_image, :fill, 1000, 1000, size: '150x150', fallback: "no_image.png" %>
      </div>
      <div class="col-10">
        <table class="table mb-0 table-bordered">
          <thead class="thead thead-light">
            <tr>
              <th>店名
              <th>住所
              <th>リンク
          </thead>
          <tbody class="tbody table-light">
            <% if r.commodity.company.deleted? %>
              <td>退会した企業
              <td>
              <td>
            <% else %>
              <td><%= r.commodity.company.company_name %>
              <td><%= r.commodity.company.address %>
              <td><%= link_to '地図アプリで開く', "https://www.google.com/maps/search/?api=1&query=#{r.commodity.company.address}".html_safe, class: 'button' %>
            <% end %>
          </tdody>
        </table>
        <table class="table table-bordered">
          <thead class="thead thead-light">
            <tr>
              <th>商品名
              <th>販売形態
              <th>時間
            </thead>
            <tbody class="tbody table-light">
              <tr>
                <td><%= r.commodity.commodity_name %>
                <td><%= r.commodity.commodity_category %>
                <td><%= r.commodity.limit.strftime("%m月%d日 %H:%M まで") %>
            </tdody>
          </table>
      </div>
    </div>
  <% end %>
<% end %>
<div class="row">
  <div class="col text-center">
    <%= paginate @reserve_d %>
  </div>
</div>
</section>

<section id="recipe-like">
<h2 class="mt-5"><span class="text-warning">■</span>お気に入りしたレシピ</h2>
  <% @recipe_like.each do |f| %>
  <table class="table">
    <thead class="thead thead-light">
      <tr>
        <th>画像
        <th>料理名
        <th>リンク
    <tbody class="tbody table-light">
      <tr>
        <td class="text-center"><%= attachment_image_tag f.recipe, :recipe_image, :fill, 1000, 1000, size: '100x100', fallback: "no_image.png" %>
        <td><%= f.recipe.dish_name %>
        <td><%= link_to "レシピ詳細", publics_recipe_path(f.recipe), class: "btn btn-success" %>
    </tbody>
  </table>
  <% end %>
</section>

<section id="recipe">
  <h2 class="mt-5"><span class="text-warning">■</span>投稿したレシピ</h2>
  <% @recipe.each do |f| %>
    <table class="table">
    <thead class="thead thead-light">
      <tr>
        <th>画像
        <th>料理名
        <th>リンク
    <tbody class="tbody table-light">
      <tr>
        <td class="text-center"><%= attachment_image_tag f, :recipe_image, :fill, 1000, 1000, size: '100x100', fallback: "no_image.png" %>
        <td><%= f.dish_name %>
        <td><%= link_to "レシピ編集", edit_publics_recipe_path(f), class: "btn btn-success" %>
    </tbody>
  </table>
  <% end %>
</section>

<div id="back">
  <a href="#">
    <%= image_tag 'up.png', :size =>'60x60', class: "img" %>
  </a>
</div>