<h1>ユーザーマイページ</h1>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
  登録住所編集
</button>

<!-- モーダルの設定 -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header bg-warning">
        <h3 class="modal-title font-weight-bold" id="staticBackdropLabel">編集フォーム</h3>
        <button type="button" class="btn-lg btn-secondary" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="modal-body">

        <%= form_for @user, url: publics_user_path, method: :patch do |f|%>
          <div class="row">
            <div class="col">
              <div class="field">
                <%= f.label :lastname %>
                <%= f.text_field :lastname, class: 'form-control-lg w-100 text-center' %>
              </div>
              <div class="field">
                <%= f.label :lastname_kana %>
                <%= f.text_field :lastname_kana, class: 'form-control-lg w-100 text-center' %>
              </div>
            </div>

            <div class="col">
              <div class="field">
                <%= f.label :firstname %>
                <%= f.text_field :firstname, class: 'form-control-lg w-100 text-center' %>
              </div>
              <div class="field">
                <%= f.label :firstname_kana %>
                <%= f.text_field :firstname_kana, class: 'form-control-lg w-100 text-center' %>
              </div>
            </div>
          </div>

          <div class="field">
            <%= f.label :nickname %>
            <%= f.text_field :nickname, class: 'form-control-lg w-100 text-center' %>
          </div>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control-lg w-100 text-center' %>
          </div>
          <div class="field">
            <%= f.label :postalcode %>（ハイフンなし）
            <%= f.text_field :postalcode, class: 'form-control-lg w-100 text-center' %>
          </div>
          <div class="field">
            <%= f.label :address %>
            <%= f.text_field :address, class: 'form-control-lg w-100 text-center' %>
          </div>
          <div class="field">
            <%= f.label :phone %>（半角で入力）
            <%= f.text_field :phone, class: 'form-control-lg w-100 text-center ' %>
          </div>
          <div class="text-center">
            <%= link_to "退会", publics_user_path, method: :delete, class: "float-right mr-2" %>
            <%= f.submit "編集完了", class: "btn btn-success btn-lg pr-5 pl-5" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

    </div>
  </div>
</div>

<h1>お得金額の総計</h1>
  <h3><%= @user.profit_price %> 円</h3>

<h1>予約履歴</h1>
<h2>販売中</h2>
	<table class="table">
		<thead class="thead thead-light">
			<th>店名
			<th>住所
			<th>リンク
			<th>商品名
			<th>販売形態
			<th>時間
		</thead>
    <tbody class="tbody">
	<% @reserve.each do |r| %>
    <tr>
      <% if r.commodity.company.deleted? %>
        <td>退会した企業
        <td>
        <td>
      <% else %>
        <td><%= r.commodity.company.company_name %>
        <td><%= r.commodity.company.address %>
        <td><%= link_to '地図アプリで開く', "https://www.google.com/maps/search/?api=1&query=#{r.commodity.company.address
    }".html_safe, class: 'button' %>
      <% end %>
			<td><%= r.commodity.commodity_name %>
			<td><%= r.commodity.commodity_category %>
			<td><%= r.commodity.limit.strftime("%m月%d日 %H:%M まで") %>
	  <% end %>
</tdody>
</table>

<h2>販売終了</h2>
  <table class="table">
    <thead class="thead thead-light">
      <th>店名
      <th>住所
      <th>商品名
      <th>販売形態
      <th>時間
    </thead>
  <% @reserve_d.each do |r| %>
  <tbody class="tbody">
    <tr class="table-light">
      <% if r.commodity.company.deleted? %>
        <td>退会した企業
        <td>
      <% else %>
        <td><%= r.commodity.company.company_name %>
        <td><%= r.commodity.company.address %>
      <% end %>
      <td><%= r.commodity.commodity_name %>
      <td><%= r.commodity.commodity_category %>
      <td><%= r.commodity.limit.strftime("%m月%d日 %H:%M まで") %>
    </tdody>
    <% end %>

</table>
<div class="row">
  <div class="col text-center">
    <%= paginate @reserve_d %>
  </div>
</div>