<div class="row row1">
  <div class="col-12 text-center text-danger">
    <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |message| %>
        <h3>・<%= message %></h3>
      <% end %>
    <% end %>
  </div>
</div>

<h1>企業詳細・投稿一覧
  <button type="button" class="btn btn-secondary ml-5" data-toggle="modal" data-target="#staticBackdrop">
    登録情報編集
  </button>
</h1>

<!-- モーダルの設定 -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header bg-info">
        <h3 class="modal-title font-weight-bold" id="staticBackdropLabel">編集フォーム</h5>
        <button type="button" class="btn-lg btn-secondary" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="modal-body">
        <%= form_for @user, url: companies_user_path, method: :patch do |f|%>
          <div class="field">
            <%= f.label :company_name %>
            <%= f.text_field :company_name, class: 'form-control-lg w-100 text-center' %>
          </div>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control-lg w-100 text-center' %>
          </div>
          <div class="field">
            <%= f.label :postalcode %>
           <%= f.text_field :postalcode, class: 'form-control-lg w-100 text-center' %>
          </div>
          <div class="field">
            <%= f.label :address %>
            <%= f.text_field :address, class: 'form-control-lg w-100 text-center' %>
          </div>
          <div class="field">
            <%= f.label :phone %>
            <%= f.text_field :phone, class: 'form-control-lg w-100 text-center' %>
          </div>
          <div class="text-center pt-3">
            <%= link_to "退会", companies_user_path, method: :delete, class: "float-right mr-2" %>
            <%= f.submit "編集完了", class: "btn btn-info btn-lg pr-5 pl-5" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>

<h1 class="mt-3">販売中</h1>

<% @commodity.each do |c| %>
  <% if c.limit > Time.now %>
  <div class="row">
    <div class="col-1 text-right">
      <%= attachment_image_tag c, :commodity_image, :fill, 1000, 1000, size: '100x100', fallback: "no_image.png", class: "mt-0" %>
    </div>
    <div class="col-11">
  <table class="table">
    <thead class="thead thead-light">
      <tr>
        <th>商品名
        <th>販売価格
        <th>期限
        <th>残り時間
        <th>販売形態
        <th>詳細
    </thead>
    <tbody class="tbody table-light">
      <tr>
		    <td><%= c.commodity_name %>
		    <td><%= c.sale_price %>円
		    <td><%= c.limit.strftime("%m月%d日 %H:%M まで") %>
          <% @limit = (c.limit - Time.now).to_i / 60 %>
          <% @limit_h = @limit /60 %>
          <% @limit_m = @limit % 60 %>
        <td>残り約<%= @limit_h %>時間<%= @limit_m %>分
        <td><%= c.commodity_category %>
        <td><%= link_to "詳細", companies_commodity_path(c), class: "btn btn-success" %>
    </tbody>
  </table>
  </div>
  </div>
  <% end %>
<% end %>

<h1 class="mt-3">販売終了</h1>
  <% @commodity.each do |c| %>
    <% if c.limit < Time.now %>
  <div class="row">
    <div class="col-1 text-right">
      <%= attachment_image_tag c, :commodity_image, :fill, 1000, 1000, size: '100x100', fallback: "no_image.png", class: "mt-0" %>
    </div>
    <div class="col-11">
<table class="table">
  <thead class="thead thead-light">
    <th>商品名
    <th>販売価格
    <th>期限
    <th>残り時間
    <th>販売形態
    <th>詳細
  </thead>
    <tbody class="tbody table-light">

        <tr>
          <td><%= c.commodity_name %>
          <td><%= c.sale_price %>円
          <td><%= c.limit.strftime("%m月%d日 %H:%M まで") %>
          <td>販売終了
          <td><%= c.commodity_category %>
          <td><%= link_to "詳細", companies_commodity_path(c), class: "btn btn-success" %>

    </tbody>
</table>
</div>
<% end %>
  <% end %>


