<h1>レシピ一覧</h1>
<%= link_to "レシピ投稿はこちら", new_publics_recipe_path, class: "btn btn-warning btn-lg" %>

<div class="row">
	<div class="col-6 offset-3 text-center">
		<h3>空白検索で全てのレシピ</h3>
	</div>
</div>

<div class="row">
	<div class="col-6 offset-3 text-center">
  	<%= search_form_for @search, url:publics_recipes_path do |f| %>
    	<%= f.search_field :dish_name_cont, :placeholder => "料理名で曖昧検索", class: "form-control-lg" %>
    	<%= f.submit "検索", class: "btn-lg" %>
  	<% end %>
	</div>
</div>

<div class="row">
	<% @result.each do |r| %>
		<div class="col-lg-3 col-6">
			<div class="commodity">

				<div class="row">
					<div class="offset-1 col-10">
						<div class="recipe_img">
							<div class="show_1">
  							<%= attachment_image_tag r, :recipe_image, :fill, 1000, 1000, fallback: "no_image.png", class: "image_height img" %>
							</div>
							<div class="hide">
							<h5>コメント:</h5>
  							<%= r.comment %>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 text-center text_height">
						<%= link_to publics_recipe_path(r) do  %>
							<h3><%= r.dish_name %></h3>
						<% end %>
					</div>
				</div>

				<div class="row">
					<div class="col-10 offset-1 text-center">
						<h5>by <%= r.public.nickname %></h5>
						<h5><%= r.created_at.strftime("%Y/%m/%d") %></h5>
					</div>
				</div>

			</div>
		</div>
  <% end %>
</div>

<div id="back">
  <a href="#">
    <%= image_tag 'up.png', :size =>'60x60', class: "img" %>
  </a>
</div>