<h1>レシピ一覧</h1>
<h1><%= link_to "レシピ投稿", new_publics_recipe_path, class: "btn btn-warning" %></h1>
<table class="table">
	<thead class="thead">
		<th>料理画像
		<th>料理名
		<th>コメント
		<th>詳細へ
	</thead>

		<% @recipes.each do |r| %>
			<tbody>
			<td><%= attachment_image_tag r, :recipe_image, :fill, 1000, 1000, size: '100x80', fallback: "no_image.png" %>
			<td><%= r.dish_name %>
			<td><%= r.comment %>
			<td><%= link_to "レシピ詳細へ", publics_recipe_path(r), class: "btn btn-success" %>
			</tbody>
	<% end %>

</table>