
<% if @recipe.public == current_public %>
<%= link_to "レシピ編集", edit_publics_recipe_path(@recipe), class: "btn btn-success" %>
<% end %>

<div class="row">
	<div class="col-12 text-center">
		<h1><%= @recipe.dish_name %></h1>
	</div>
	<div class="col-12 text-center">
		<%= attachment_image_tag @recipe, :recipe_image, :fill, 1000, 1000, size: '300x250', fallback: "no_image.png" %>
	</div>
	<div class="col-10 offset-1">
		<h3><%= @recipe.comment %></h3>
	</div>
</div>

<!-- 材料の種類が奇数or偶数 -->
<% if @ingredients.odd? %>
  <% @first = @recipe.ingredients.first((@ingredients/2)+1) %>
<% else %>
  <% @first = @recipe.ingredients.first(@ingredients/2) %>
<% end %>
  <% @last = @recipe.ingredients.last(@ingredients/2) %>
<!-- ここまで -->

<div class="row">
<table class="table table-bordered col-lg-5 offset-lg-1 col-10 offset-1">
	<thead class="thead thead-light">
		<tr>
			<th style="width:65%;">材料
			<th style="width:35%;">使用量
	</thead>
	<% @first.each do |r| %>
		<tbody>
			<tr class="table-light">
				<td><%= r.ingredient_name %>
				<td><%= r.ingredient_amount %>
		</tbody>
	<% end %>
</table>

<table class="table table-bordered col-lg-5 offset-lg-0 col-10 offset-1">
	<thead class="thead thead-light">
		<tr class="d-none d-lg-table-row">
		<th style="width:65%;">材料
		<th style="width:35%;">使用量
	</thead>
	<% @last.each do |r| %>
		<tbody>
			<tr class="table-light">
			<td><%= r.ingredient_name %>
			<td><%= r.ingredient_amount %>
		</tbody>
	<% end %>
</table>
</div>

<div class="row">
	<div class="col-10 offset-1">

		<% @recipe.cooks.each do |c| %>
			<table class="table table-bordered">
				<thead class="thead thead-light">
					<th class="h4"><%= c.process_count %>.
				</thead>
				<tbody class="tbody">
					<tr class="table-light">
						<td class="h4"><%= c.process_text %>
				</tbody>
			</table>
		<% end %>

	</div>
</div>