<h4>レシピ詳細画面</h4>
<%= link_to "レシピ編集", edit_publics_recipe_path(@recipe), class: "btn btn-success" %>
	<h1><%= @recipe.dish_name %></h1>
	<h3><%= @recipe.comment %></h3>

<!-- 材料の種類が奇数or偶数 -->
<% if @ingredients.odd? %>
  <% @first = @recipe.ingredients.first((@ingredients/2)+1) %>
<% else %>
  <% @first = @recipe.ingredients.first(@ingredients/2) %>
<% end %>
  <% @last = @recipe.ingredients.last(@ingredients/2) %>
<!-- ここまで -->

<div class="row">
<table class="table table-bordered col-6">
	<thead class="thead thead-light">
		<th>材料
		<th>使用量
	</thead>
	<% @first.each do |r| %>
		<tbody>
			<td><%= r.ingredient_name %>
			<td><%= r.ingredient_amount %>
		</tbody>
	<% end %>
</table>

<table class="table table-bordered col-6">
	<thead class="thead thead-light">
		<th>材料
		<th>使用量
	</thead>
	<% @last.each do |r| %>
		<tbody>
			<td><%= r.ingredient_name %>
			<td><%= r.ingredient_amount %>
		</tbody>
	<% end %>
</table>
</div>

<div class="row">
<% @recipe.cooks.each do |c| %>
	<div class="col-12">
  <h3><%= c.process_count %> <%= c.process_text %></h3>
	</div>
<% end %>
</div>
