<div class="top-box row">
	<div class="col-12 col-lg-6 offset-lg-3">

 		<div class="row">
  		<div class="col-12 col-lg-8 offset-lg-2">
				<h1 class="text-center">お問い合わせ</h1>

				<% if @info.errors.any? %>
					<% @info.errors.full_messages.each do |message| %>
						<h4 class="text-danger">・<%= message %></h4>
					<% end %>
				<% end %>

				<%= form_for @info, url:info_index_path do |f| %>
					<!-- 利用者の場合 -->
					<% if public_signed_in? %>
						<% @user = current_public %>
						<% @status = "利用者" %>
						<% @user_name = @user.lastname + @user.firstname %>
						<%= f.hidden_field :public_id, :value => @user.id %>

					<!-- 企業の場合 -->
					<% elsif company_signed_in? %>
						<% @user = current_company %>
						<% @status = "企業" %>
						<% @user_name = @user.company_name %>
						<%= f.hidden_field :company_id, :value => @user.id %>

					<!-- 未ログインの場合 -->
					<% else %>
						<% @status = "その他" %>
					<% end %>

					<!-- 利用者or企業の場合 -->
					<% if public_signed_in? || company_signed_in? %>
						<%= f.hidden_field :contributor, :value => @user_name %>
						<h3 class="text-warning mt-4"><span class="alert-warning", style="background: none;">■</span>投稿者</h3>
						<h3 class="mt-2"><%= @user_name %>様</h3>
						<h3 class="text-warning mt-4"><span class="alert-warning", style="background: none;">■</span>メールアドレス<span class="h5 text-secondary">※このアドレスに回答を送信します</span></h3>
						<%= f.text_field :contributor_email, required: true, value: @user.email, class: "mt-2 w-100" %>

					<!-- 未ログインの場合 -->
					<% else %>

						<h3 class="text-warning mt-3"><span class="alert-warning", style="background: none;">■</span>投稿者</h3>
						<%= f.text_field :contributor, required: true, class: "form-control-lg mt-2 text-center w-100" %>
						<h3 class="text-warning mt-3"><span class="alert-warning", style="background: none;">■</span>メールアドレス</h3>
						<h5>※このアドレスに回答を送信します</h5>
		  			<%= f.text_field :contributor_email, required: true, class: "form-control-lg mt-2 text-center w-100" %>

					<% end %>

					<!-- 共通フォーム -->
					<%= f.hidden_field :user_status, :value => @status %>
					<%= f.hidden_field :info_status, :value => "未回答" %>
					<h3 class="text-warning mt-4"><span class="alert-warning", style="background: none;">■</span>お問い合わせ内容</h3>
					<%= f.text_area :info_content, required: true, calss: "mt-2", style: "width: 100%;" %>
					<div class="text-center">
						<%= f.submit '送信する', class:"btn btn-warning btn-lg my-4" %>
					</div>
				<% end %>
			</div>
		</div>

	</div>
</div>