<div class="top-box row">
	<div class="text-center col-12">

	<h1>お問い合わせ</h1>

	<% if @info.errors.any? %>
  	<% @info.errors.full_messages.each do |message| %>
    	<h3><%= message %></h3>
  	<% end %>
	<% end %>

	<%= form_for(@info, url:info_index_path) do |f| %>
<!-- 利用者or企業 -->
    <% if public_signed_in? %>
      <% @user = current_public %>
      <% @status = "利用者" %>
      <% @user_name = @user.lastname + @user.firstname %>
    <% elsif company_signed_in? %>
      <% @user = current_company %>
      <% @status = "企業" %>
      <% @user_name = @user.company_name %>
    <% end %>

		<%= f.hidden_field :user_status, :value => @status %>
		<%= f.hidden_field :public_id, :value => @user.id %>
		<%= f.hidden_field :company_id, :value => @user.id %>
		<%= f.hidden_field :contributor, :value => @user_name %>
		<%= f.hidden_field :info_status, :value => "未回答" %>

		<h3 class="text-warning mt-3">投稿者</h3>
		<h3><%= @user_name %>様</h3>

		<h3 class="text-warning mt-3">メールアドレス</h3>
		<h5>※このアドレスに回答を送信します</h5>
		<%= f.text_field :contributor_email, value: @user.email %>

		<h3 class="text-warning mt-3">お問い合わせ内容</h3>
		<%= f.text_area :info_content %>
<br>
	<%= f.submit '送信する', class:"btn btn-warning" %>

		<% end %>

	</div>
</div>